.h-tag {
  text-align: center;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  border: 2px solid rgb(191, 188, 188);
  margin: auto;
  margin-top: 20px;
  border-radius: 12px;
  padding-bottom: 20px;
  background-color: white;
  text-align: center;
}

.button-box {
  width: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid gray;
}

.button-box button {
  font-size: 25px;
  color: black;
  background-color: white;
  border-radius: 5px;
  height: 50px;
  border: 1px solid grey;
}

.button-box button:hover {
  background-color: rgb(202, 88, 210);
}
.timer {
  padding: 10px 0px 10px;
}

.stopwatch {
  padding: 10px;

  border-bottom: 0px solid gray;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
